<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.diamondboss.order.repository.CommunityMapper" >
  <!-- 根据小区名字查找小区Id  -->
  <select id="queryCommunityId"
		parameterType="java.lang.String"
		resultType="com.diamondboss.order.vo.CommunityResponseVo">
		SELECT
		    id AS communityId,
		    community_name AS communityName
		FROMs
		    community
		WHERE
			community_name = #{communityName} and
			effective = '1'
	</select>
  
</mapper>