<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.diamondboss.order.repository.GrabOrderMapper" >

	<select id="queryGrabOrderByPartnerId"
		parameterType="java.util.Map"
		resultType="com.diamondboss.order.vo.GrabOrderVo">
		SELECT
		    id AS id,
		    receive_time AS receiveTime,
		    return_time AS returnTime,
		    pet_name AS petName,
		    sex AS sex,
		    age AS age,
		    phone AS userPhone,
		    user_id AS userId,
		    user_name AS userName,
		    remark AS remark,
		    partner_name AS partnerName,
		    order_date AS orderDate,
		    order_status AS orderStatus,
		    amt AS amt,
		    dogFood AS dogFood,
		    varieties AS varieties
		FROM
		    ${grabOrder}
		WHERE
			partner_id = #{partnerId}
			AND effective = '1'
	</select>

	<!-- 根据id查询用户抢单信息 -->
	<select id="queryGrabOrderUserId"
		parameterType="java.util.Map"
		resultType="com.diamondboss.order.pojo.GrabOrderPojo">
		SELECT
		    user_id AS userId,
		    user_table_id AS userTableId,
		    partner_id AS partnerId,
		    partner_name AS partnerName,
		    user_key_id	AS userKeyId,
		    community_id AS communityId,
		    order_date AS orderDate
		FROM
		    ${grabOrderTable}
		WHERE
		    id = #{id}
		    AND effective = '1'
	</select>

	<!-- 根据id更新用户抢单信息  -->
	<update id="updateGrabOrderUserId"
		parameterType="java.util.Map">
		UPDATE
		    ${grabOrderTable}
		SET
		    effective =  '0'
		WHERE
		    id = #{id}
		    AND effective = '1'
	</update>

	<!-- 更新用户登录表 -->
	<update id="updateUserLogin"
		parameterType="java.lang.String">
		UPDATE
		    user_login
		SET
		    order_num = order_num - 1 
		WHERE
		    id = #{id}
		    AND effective = '1'
	</update>

	<!-- 更新用户订单表  -->
	<update id="updateOrderUser" 
		parameterType="com.diamondboss.order.pojo.GrabOrderPojo">
		UPDATE
		    ${userTableId}
		SET
		    partner_name =  #{partnerName},
		    partner_id = #{partnerId},
		    order_status = '4'
		WHERE
		    id = #{userKeyId}
		    AND order_status = '2'
		    AND effective =  '1'
	</update>

	<!-- 插入合伙人订单表  -->
	<insert id="insertOrderPartner"
		parameterType="com.diamondboss.order.pojo.GrabOrderPojo">
		INSERT
		INTO
		    ${partnerTableId}
		    (
		        receive_time,
		        return_time,
		        pet_name,
		        sex,
		        age,
		        phone,
		        user_name,
		        remark,
		        user_id,
		        partner_id,
		        partner_name,
		        order_date,
		        order_status,
		        amt,
		        varieties,
		        out_trade_no,
		        trade_no,
		        pay_type,
		        dogFood,
		        community_id,
		        effective
		    )
		SELECT
		    receive_time,
		    return_time,
		    pet_name,
		    sex,
		    age,
		    phone,
		    user_name,
		    remark,
		    user_id,
		    partner_id,
		    partner_name,
		    order_date,
		    order_status,
		    amt*0.8,
		    varieties,
		    out_trade_no,
		    trade_no,
		    pay_type,
		    dogFood,
		    community_id,
		    '1'
		FROM
		    ${userTableId}
		WHERE
			id = #{userKeyId}
	</insert>

	<!-- 查询合伙人能容纳数量  -->
	<select id="querySelfOrdertotal"
		parameterType="java.lang.String"
		resultType="java.lang.Integer">
		SELECT 
			order_num 
		FROM 
			partner_login 
		WHERE 
			id = #{partnerId}
	</select>

	<!-- 查询合伙人接单数量 -->
	<select id="querySelfOrderNum"
		parameterType = "java.util.Map" 
		resultType = "java.lang.Integer">
		SELECT
		    COUNT(1) 
		FROM
		    ${orderPartner}
		WHERE
		    partner_id = #{partnerId}
		    AND order_date = #{orderDate}
		    AND order_status != '6'
		    AND effective = '1'
	</select>
	
	<!-- 查询UserOrder -->
	<select id="selectOrderUser"
		parameterType = "java.util.Map" 
		resultType = "com.diamondboss.order.pojo.OrderUserPojo">
		SELECT
			id AS id,
		    partner_id AS partnerId,
		    amt AS amt,
		    order_date AS orderDate
		FROM
		    ${tableName}
		WHERE
		    id = #{id}
	</select>


</mapper>