<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.diamondboss.petsHotel.repository.UserServiceMapper" >

	<!-- 查询酒店列表 -->
	<select id="queryHotelList"  resultType="com.diamondboss.petsHotel.vo.HotelListResponseVo">
		SELECT
			id AS id,
		    phone AS phone,
		    advisory_telephone AS advisoryTelephone,
		    hotel_name AS hotelName,
		    receive_time AS receiveTime,
		    return_time AS returnTime,
		    room_num AS roomNum,
		    address AS address,
		    picture_num AS pictureNum,
		    longitude AS longitude,
		    latitude AS latitude,
		    remark_1 AS remark1,
		    remark_2 AS remark2,
		    remark_3 AS remark3,
		    remark_4 AS remark4,
		    status AS status
		FROM
		    hotel_list
		WHERE
			effective = '1'
	</select>
	
	<!-- 查询酒店服务类目-->
	<select id="queryHotelService" parameterType="java.util.Map" resultType="com.diamondboss.petsHotel.vo.HotelServiceResponseVo">
		SELECT
			hotel_id AS hotelId,
			service_id AS serviceId,
			service_remark AS serviceRemark,
			service_name AS serviceName,
			service_price As servicePrice,
		    remark_1 AS remark1,
		    remark_2 AS remark2,
		    remark_3 AS remark3,
		    status AS status
		FROM
		    hotel_service
		WHERE
			hotel_id = #{hotelId} 
		AND effective = '1'
	</select>
</mapper>