<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.diamondboss.order.repository.PartnerWithDrawMapper" >
  <resultMap id="BaseResultMap" type="com.diamondboss.util.pojo.PartnerWithDrawPojo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="parter_id" property="parterId" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="VARCHAR" />
    <result column="order_time" property="orderTime" jdbcType="VARCHAR" />
    <result column="withdraw_state" property="withdrawState" jdbcType="BIT" />
    <result column="effective" property="effective" jdbcType="BIT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, parter_id, amount, order_time, withdraw_state, effective, create_time, update_time
  </sql>
  
  <select id = "queryPartnerDetail" resultMap="BaseResultMap" parameterType="map">
  	select amount,order_time
    from parter_withdraw
    
    where parter_id = #{parter_id} and
    	  effective = #{effective} and
    	  withdraw_state = "1"
    	  
    order by create_time desc
  </select>
  
</mapper>