<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.diamondboss.order.repository.PartnerWalletDetailMapper" >
	<resultMap id="BaseResultMap" type="com.diamondboss.util.pojo.PartnerWalletDetailPojo" >
	   <id column="id" property="id" jdbcType="BIGINT" />
	   <result column="partner_id" property="partnerId" jdbcType="VARCHAR" />
	   <result column="amt" property="amount" jdbcType="VARCHAR" />
	   <result column="kind" property="kind" jdbcType="BIT" />
	   <result column="order_date" property="orderDate" jdbcType="VARCHAR" />
	   <result column="effective" property="effective" jdbcType="BIT" />
	   <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	   <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
	</resultMap>
	  
	<sql id="Base_Column_List" >
   		id, partner_id, amt, kind, order_date, effective, create_time, update_time
  	</sql>	
  	
  	<select id="queryPartnerAmountDetails" resultMap="BaseResultMap" parameterType="map" >
    	select 
    	<include refid="Base_Column_List" />
    	from ${tableName} 
    	where order_date = #{currentDate}
    	and partner_id = #{partnerId}
    	and effective = #{effective}
    	order by order_date desc
  	</select>
</mapper>