<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.diamondboss.user.repository.PartnerInfoMapper" >

	<resultMap id="BaseResultMap" type="com.diamondboss.user.vo.ResponsePartnerOfCommunityVo" >
	    <id column="parter_id" property="id" jdbcType="VARCHAR" />
	    <result column="name" property="name" jdbcType="VARCHAR" />
	    <result column="phone_number" property="phoneNumber" jdbcType="VARCHAR" />
  	</resultMap>

	<!-- 根据合伙人id查询用户信息  -->
	<select id="queryInfoByPartnerId"
		parameterType="java.lang.String"
		resultType="com.diamondboss.user.pojo.PartnerInfoPojo">
		SELECT
		    id AS id,
		    parter_id AS parterId,
		    name AS name,
		    phone_number AS phoneNumber,
		    age AS age,
		    sex AS sex,
		    address AS address,
		    industry AS industry,
		    remark AS remark
		FROM
		    partner_info
		WHERE
			parter_id = #{parterId}
			AND effective = '1'
	</select>
	
	<!-- 根据小区名字，返回该小区的所有合伙人  -->
	<select id="queryPartnerOfCommunityList"
		parameterType="java.lang.String"
		resultMap="BaseResultMap">
		SELECT  A.parter_id AS partnerId,
				A.name AS partnerName,
				A.phone_number AS phoneNumber,
				A.community_id AS communityId,
				A.longitude AS longitude,
				A.latitude AS latitude
		FROM partner_info A INNER JOIN	community B ON A.community_id = B.id
		
		WHERE B.community_name = #{communityName}
	</select>




</mapper>