<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.diamondboss.wallet.repository.PartnerWithdrawalsMapper" >

	<!-- 根据合伙人id查询钱包汇总 -->
	<select id="queryPartnerWallet"
		parameterType="java.lang.String"
		resultType="com.diamondboss.wallet.pojo.PartnerWalletPojo">
		SELECT
		    amt AS amt
		FROM
		    partner_wallet
	    WHERE
			partner_id = #{partnerId}
			AND effective = '1'
	</select>

	<!-- 根据合伙人id查询钱包明细  -->
	<select id="queryPartnerWalletDetailed"
		parameterType="com.diamondboss.wallet.pojo.PartnerWalletPojo"
		resultType="com.diamondboss.wallet.vo.PartnerTotalWalletVo">
		SELECT
			CASE
				WHEN kind = '1'
				THEN CONCAT('+', amt)
				WHEN kind = '2'
				THEN CONCAT('-', amt)
			END AS amt,
			CASE
				WHEN kind = '1'
				THEN '宠物托管费用'
				WHEN kind = '2'
				THEN '申请提现'
			END AS kind,
			'已到账' AS status,
		    left(create_time,16) AS time
		FROM
		    ${partnerWalletDetail}
		WHERE
			partner_id = #{partnerId}
			AND effective = '1'
			AND (kind = '1' OR kind ='2')
		ORDER BY
			create_time
		DESC LIMIT 0,3
	</select>

		<!-- 根据合伙人id查询钱包明细  -->
	<select id="queryTotalDetailed"
		parameterType="com.diamondboss.wallet.pojo.PartnerWalletPojo"
		resultType="com.diamondboss.wallet.vo.PartnerTotalWalletVo">
		SELECT
			CASE
				WHEN kind = '1'
				THEN '宠物托管费用'
				WHEN kind = '2'
				THEN '申请提现'
			END AS kind,
			left(create_time,16) AS time,
			amt AS amt,
		    '已到账' AS status
		FROM
		    ${partnerWalletDetail}
		WHERE
			partner_id = #{partnerId}
			AND effective = '1'
		ORDER BY
			create_time
		DESC
	</select>

	<!-- 根据合伙人id更新合伙人钱包 -->
	<update id="updatePartnerWallet"
		parameterType="com.diamondboss.wallet.pojo.PartnerWalletPojo">
		UPDATE
		    partner_wallet
		SET
		    amt = amt - #{amt}
		WHERE
		    partner_id = #{partnerId}
			AND effective = '1'
	</update>

	<!-- 根据合伙人id插入合伙人钱包明细  -->
	<insert id="insertPartnerWalletDetailed"
		parameterType="com.diamondboss.wallet.pojo.PartnerWalletPojo">
		INSERT
		INTO
		    ${partnerWalletDetail}
		    (
		        partner_id,
		        amt,
		        kind,
		        order_date,
		        effective
		    )
		    VALUES
		    (
		        #{partnerId},
		        #{amt},
		        #{kind},
		        #{orderDate},
		        '1'
		    )
	</insert>

	<insert id="insertPartnerWallet"
		parameterType="com.diamondboss.wallet.pojo.PartnerWalletPojo">
		INSERT
		INTO
		    partner_wallet
		    (
		        partner_id,
		        amt,
		        effective
		    )
		    VALUES
		    (
		        #{partnerId},
		        #{amt},
		        '1'
		    )
	</insert>
	
	<!-- 查询今日收益 -->
	<select id="queryEarningsToday"
		parameterType="java.util.Map"
		resultType="java.lang.String">
		SELECT
			SUM(amt) AS amt
		FROM
		    ${partnerWalletDetail}
		WHERE
			partner_id = #{partnerId}
			AND order_date = #{orderDate}
			AND kind = '1'
			AND effective = 1
	</select>
	
		<!-- 根据合伙人id查询钱包明细  -->
	<select id="queryAvailableWallet"
		parameterType="java.util.Map"
		resultType="com.diamondboss.wallet.pojo.PartnerWalletPojo">
		SELECT
			SUM(amt) AS amt
		FROM
		    ${partnerWalletDetail}
		WHERE
			partner_id = #{partnerId}
			AND order_date &lt; #{orderDate}
			AND kind = '1'
			AND effective = '1'
	</select>
	
</mapper>