<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.diamondboss.order.repository.PartnerOrderMapper" >

	<!-- 查询合伙人首页订单信息 -->
	<select id="queryTodayOrder"
		parameterType="java.util.Map"
		resultType="com.diamondboss.util.vo.PartnerOrderVo" >
		SELECT
		    id AS id,
		    receive_time AS receiveTime,
		    return_time AS returnTime,
		    pet_name AS petName,
		    sex AS sex,
		    age AS age,
		    phone AS phone,
		    user_name AS userName,
		   	order_status AS orderStatus,
		    order_date AS orderDate,
		    varieties AS varieties,
		    user_id AS userId,
		    dogFood AS dogFood,
		    remark AS remark
		FROM
		    ${orderPartner}
		WHERE
			partner_id = #{partnerId}
			AND order_date &gt;= #{orderDate}
			AND order_status = '4'
			AND effective = '1'
	</select>

	<!-- 查询合伙人历史订单明细  -->
	<select id="queryTodayOrderDetail"
			parameterType="java.util.Map"
			resultType="com.diamondboss.util.vo.PartnerOrderVo" >
		SELECT
		    id AS id,
		    receive_time AS receiveTime,
		    return_time AS returnTime,
		    pet_name AS petName,
		    sex AS sex,
		    age AS age,
		    phone AS phone,
		    user_name AS userName,
		    dogFood AS dogFood,
		    remark AS remark
		FROM
		    ${orderPartner}
		WHERE
			partner_id = #{partnerId}
			AND order_status = '4'
			AND effective = '1'
		ORDER BY order_date DESC
	</select>

</mapper>


