<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.diamondboss.order.repository.SubmitOrderMapper" >

	<!-- 根据宠物编号查询预约日期  -->
	<select id="queryOrderByUser"
		parameterType="java.util.Map"
		resultType="java.lang.String">
		SELECT
		    order_time
		FROM
		    parter_order
		WHERE
		    pet_id = #{petId}
		    AND order_time &gt;= #{today}
		    AND effective = '1'
	</select>

	<!-- 查询订单  -->
	<select id="queryPartnerOrder"
		resultType="java.lang.Integer">
		SELECT
		    COUNT(1)
		FROM
		    parter_order
		WHERE
		    parter_id =  #{parterId}
		AND order_time = #{orderTime}
		AND effective = '1'
	</select>

	<!-- 插入合伙人订单  -->
	<insert id="insertPartnerOrder" parameterType="java.util.Map">
		INSERT INTO  #{tableName}
		(id, receive_time, return_time, pet_name, sex, age,
		phone, user_name, remark, user_id, partenr_id, order_date,
		order_status, amt, effective, create_time, update_time)
		VALUES
		(#{id,jdbcType=BIGINT},#{receiveTime}, #{returnTime}, #{petName}, #{sex}, #{age},
		#{phone}, #{userName}, #{remark},#{userId},#{partenrId}, #{orderDate},
		#{orderDate}, #{orderStatus},#{amt}, '1', #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP});
	</insert>

	<!-- 插入用户订单  -->
	<insert id="insertUserOrder" parameterType="java.util.Map">
		INSERT INTO  #{tableName}
		(id, receive_time, return_time, pet_name, sex, age,
		phone, user_name, remark, user_id, partenr_id, order_date,
		order_status, amt, effective, create_time, update_time)
		VALUES
		(#{id,jdbcType=BIGINT},#{receiveTime}, #{returnTime}, #{petName}, #{sex}, #{age},
		#{phone}, #{userName}, #{remark},#{userId},#{partenrId}, #{orderDate},
		#{orderDate}, #{orderStatus},#{amt}, '1', #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP});
	</insert>

	<!-- 更新订单  -->
	<update id="updatePartnerOrder">
		UPDATE
		    #{tableName}
		SET
		    effective = #{effective} 
		WHERE
		   user_id = #{userId}
		   AND partenr_id = #{partnerId}
		   AND order_date = #{orderDate}
		   AND order_status = #{orderStatus}
	</update>
	<!-- 更新用户订单  -->
	<update id="updateUserOrder">
		UPDATE
		    #{tableName}
		SET
		    effective = #{effective}
		WHERE
		   user_id = #{userId}
		   AND partenr_id = #{partnerId}
		   AND order_date = #{orderDate}
		   AND order_status = #{orderStatus}
	</update>

	<select id="queryCountsByPartnerAndDate" parameterType="map"
			resultType="Integer">
		SELECT COUNT(1)
		FROM #{tableName}
		WHERE
		parter_id = #{partnerId}
		AND order_date = #{currentDate}
		AND effctive = '1'
	</select>


	<!-- john begin -->
	
	<!-- 插入订单（用户）表  -->
	<insert id="insertOrderUser"
		parameterType="com.diamondboss.util.pojo.OrderUserPojo">
		INSERT
		INTO
		    ${orderUser}
		    (
		        pet_name,
		        sex,
		        age,
		        phone,
		        user_name,
		        remark,
		        order_date,
		        order_status,
		        amt,
		        effective,
		    )
		    VALUES
		    (
		        #{petName},
		        #{sex},
		        #{age},
		        #{phone},
		        #{userName},
		        #{remark},
		        #{orderDate},
		        #{orderStatus},
		        #{amt},
		        '1'
		    );
	</insert>

	<!-- 根据小区id查询合伙人表获取小区宠物饲养上限  -->
	<select id="queryTotalByCommunityId"
		parameterType="java.lang.String"
		resultType="java.lang.Integer" >
		SELECT 
			SUM(raiseNumber) 
		FROM 
			parter_info 
		WHERE 
			community_id = #{communityId}
			AND effective = '1'
	</select>

	<!-- 更新订单（用户）表  -->
	<update id="updateOrderUser"
		parameterType="com.diamondboss.util.pojo.OrderUserPojo">
		UPDATE
		    ${orderUser}
		SET
		    user_id = #{userId},
		    order_status = #{orderStatus}
		WHERE
		    id = #{id};
	</update>
	
	<!-- 更新用户登录表(下单时间、下单数量、下单数量+1)  -->
	<update id="updateUserLogin"
		parameterType="java.util.Map">
		UPDATE
		    user_login_info
		SET
		    order_time = #{orderTime},
		    order_num = orderNum + 1,
		    order_total = orderTotal + 1 
		WHERE
		    id = #{id}
		    AND effective = '1'
	</update>
	
	<!-- john end -->
	
</mapper>