<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.diamondboss.personal.repository.UserLoginInfoMapper" >
  <resultMap id="BaseResultMap" type="com.diamondboss.util.pojo.UserLoginInfoPojo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="phoneNumber" property="phoneNumber" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="pet_id" property="petId" jdbcType="BIGINT" />
    <result column="effective" property="effective" jdbcType="BIT" />
    <result column="login_count" property="loginCount" jdbcType="INTEGER" />
    <result column="user_type" property="userType" jdbcType="BIT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, phoneNumber, user_id, pet_id, effective, login_count, user_type, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from user_login_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from user_login_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.diamondboss.util.pojo.UserLoginInfoPojo" >
    insert into user_login_info (id, phoneNumber, user_id, 
      pet_id, effective, login_count, user_type, create_time, 
      update_time)
    values (#{id,jdbcType=BIGINT}, #{phoneNumber,jdbcType=VARCHAR}, #{userId,jdbcType=BIGINT},
      #{petId,jdbcType=BIGINT}, #{effective,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{loginCount,jdbcType=VARCHAR},#{userType,jdbcType=BIT},#{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.diamondboss.util.pojo.UserLoginInfoPojo" >
    insert into user_login_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="phoneNumber != null" >
        phoneNumber,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="petId != null" >
        pet_id,
      </if>
      <if test="effective != null" >
        effective,
      </if>
      <if test="loginCount != null" >
         login_count,
      </if>
       <if test="userType != null" >
         user_type,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="phoneNumber != null" >
        #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="petId != null" >
        #{petId,jdbcType=BIGINT},
      </if>
      <if test="effective != null" >
        #{effective,jdbcType=BIT},
      </if>
      <if test="effective != null" >
        #{loginCount,jdbcType=VARCHAR},
      </if>
       <if test="userType != null" >
        #{userType,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.diamondboss.util.pojo.UserLoginInfoPojo" >
    update user_login_info
    <set >
      <if test="phoneNumber != null" >
        phoneNumber = #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="petId != null" >
        pet_id = #{petId,jdbcType=BIGINT},
      </if>
      <if test="effective != null" >
        effective = #{effective,jdbcType=BIT},
      </if>
      <if test="effective != null" >
        login_count = #{loginCount,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        user_type = #{userType,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.diamondboss.util.pojo.UserLoginInfoPojo" >
    update user_login_info
    set phoneNumber = #{phoneNumber,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=BIGINT},
      pet_id = #{petId,jdbcType=BIGINT},
      effective = #{effective,jdbcType=BIT},
      login_count = #{loginCount,jdbcType=VARCHAR},
      user_type = #{userType,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <!-- 更新用户登录次数 -->
  <update id="updateLoginIn" parameterType="Map">
  	update user_login_info
  	set  login_count = login_count + 1
  	where phoneNumber = #{phoneNumber}
  </update>
  
  <!-- 查询用户的登录次数信息 -->
  <select id="queryUserLoginIn" parameterType="Map" resultMap="BaseResultMap">
   select 
 	<include refid="Base_Column_List" />
   from user_login_info
   where phoneNumber = #{phoneNumber}
  </select>
</mapper>