<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.diamondboss.user.repository.UserInfoMapper" >
  
  	<!-- 根据用户id查询用户信息  -->
  	<select id="queryInfoByUserId"
  		parameterType="java.lang.String"
  		resultType="com.diamondboss.user.pojo.UserInfoPojo">
  		SELECT
		    id AS id,
		    user_id AS userId,
		    name AS name,
		    phone_number AS phoneNumber,
		    age AS age,
		    sex AS sex,
		    address AS address,
		    industry AS industry,
		    remark AS remark
		FROM
		    user_info
		WHERE
			user_id = #{userId}
			effective = '1'
  	</select>
  	
  	<!-- 插入用户信息  -->
  	<insert id="insertInfoByUserId"
  		parameterType="com.diamondboss.user.pojo.UserInfoPojo">
  		INSERT
		INTO
		    user_info
		    (
		        user_id,
		        name,
		        phone_number,
		        effective
		    )
		    VALUES
		    (
		        #{userId},
		        #{name},
		        #{phoneNumber},
		        '1'
		    );
  	</insert>
  
  	<!-- 更新用户信息 -->
  	<update id="updateInfoByUserId" 
  		parameterType="com.diamondboss.user.pojo.UserInfoPojo">
  		UPDATE
		    user_info
		SET
		    name = #{name},
		    age = #{age},
		    sex = #{sex},
		    address = #{address},
		    industry = #{industry},
		    remark = #{remark}
		WHERE
		    id = #{id};
  	</update>
  
</mapper>