<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.diamondboss.order.repository.UserOrderServiceMapper" >
 	
 	<!-- 查询合伙人首页订单信息 -->
	<select id="queryUserOrderService"
		parameterType="java.util.Map"
		resultType="com.diamondboss.util.vo.UserOrderServiceVo" >
		SELECT
		    B.user_id AS userId,
		    B.partner_id AS partnerId,
		    B.name AS userName,
		    B.phone_number AS phoneNum,
		    A.receive_time AS receiveTime,
		    A.return_time AS returnTime,
		    (
				SELECT count(*)
				FROM ${tableName} A
				WHERE A.user_id = #{userId}
				AND A.order_date = #{orderDate}
				AND A.effective = '1'
			) AS orderCount
		FROM
		     ${tableName} A INNER JOIN user_info B ON A.user_id = B.user_id
		WHERE
			A.user_id = #{userId}
			AND A.order_date = #{orderDate}
			AND A.effective = '1'
	</select>
	
	
	<!-- 查询合伙人首页订单信息 -->
	<select id="queryPartnerOrderService"
		parameterType="java.util.Map"
		resultType="com.diamondboss.util.vo.PartnerOrderServiceVo" >
		SELECT
		    B.id AS partnerId,
		    B.name AS partnerName,
		    B.phoneNumber AS phoneNum,
			(
				SELECT count(*)
				FROM ${tableName} A
				WHERE A.partner_id = #{partnerId}
				AND A.effective = '1'
			) AS orderCount
		FROM
		    ${tableName} A INNER JOIN parter_info B ON A.partner_id = B.id
		WHERE
			A.partner_id = #{partnerId}
			AND A.effective = '1'
		GROUP BY A.partner_id
	</select>
	
	
	<!-- 查询用户的当日合伙人下的宠物订单 -->
	<select id="queryUserOrders"
		parameterType="java.util.Map"
		resultType="com.diamondboss.util.vo.UserOrdersServiceVo" >
		SELECT
		    A.pet_name AS pname,
		    A.sex AS sex
		FROM
		    ${tableName} A
		WHERE
			A.partner_id = #{partnerId}
			AND A.order_date = #{orderDate}
			AND A.effective = '1'
	</select>
  
</mapper>