<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.diamondboss.order.repository.PartnerWalletMapper" >
	<resultMap id="BaseResultMap" type="com.diamondboss.util.pojo.PartnerWalletPojo" >
	   <id column="id" property="id" jdbcType="BIGINT" />
	   <result column="partner_id" property="partnerId" jdbcType="VARCHAR" />
	   <result column="amt" property="amount" jdbcType="VARCHAR" />
	   <result column="effective" property="effective" jdbcType="BIT" />
	   <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	   <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
	</resultMap>
	  
	<sql id="Base_Column_List" >
   		id, partner_id, amt, effective, create_time, update_time
  	</sql>
  	<select id="queryPartnerWalletAmount" resultType="com.diamondboss.util.vo.PartnerWalletVo" parameterType="map" >
    	select 
	    	A.id as id,
	    	A.partner_id as partnerId,
	    	A.amt as amount
    	from partner_wallet A
    	where A.partner_id = #{partnerId}
    	and A.effective = #{effective}
  	</select>
  	
</mapper>