<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tcom.diamondboss.order.repository.ParterInfoMapper" >
  <resultMap id="BaseResultMap" type="com.diamondboss.util.pojo.ParterInfoPojo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="phoneNumber" property="phonenumber" jdbcType="VARCHAR" />
    <result column="wxchat" property="wxchat" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="IDNumber" property="idnumber" jdbcType="VARCHAR" />
    <result column="bodySize" property="bodysize" jdbcType="TINYINT" />
    <result column="raiseCycle" property="raisecycle" jdbcType="TINYINT" />
    <result column="raiseNumber" property="raisenumber" jdbcType="VARCHAR" />
    <result column="enable" property="enable" jdbcType="BIT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, phoneNumber, wxchat, address, IDNumber, bodySize, raiseCycle, raiseNumber, 
    enable, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from parter_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from parter_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.diamondboss.util.pojo.ParterInfoPojo" >
    insert into parter_info (id, name, phoneNumber, 
      wxchat, address, IDNumber, 
      bodySize, raiseCycle, raiseNumber, 
      enable, create_time, update_time
      )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{phonenumber,jdbcType=VARCHAR}, 
      #{wxchat,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{idnumber,jdbcType=VARCHAR}, 
      #{bodysize,jdbcType=TINYINT}, #{raisecycle,jdbcType=TINYINT}, #{raisenumber,jdbcType=VARCHAR}, 
      #{enable,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.diamondboss.util.pojo.ParterInfoPojo" >
    insert into parter_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="phonenumber != null" >
        phoneNumber,
      </if>
      <if test="wxchat != null" >
        wxchat,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="idnumber != null" >
        IDNumber,
      </if>
      <if test="bodysize != null" >
        bodySize,
      </if>
      <if test="raisecycle != null" >
        raiseCycle,
      </if>
      <if test="raisenumber != null" >
        raiseNumber,
      </if>
      <if test="enable != null" >
        enable,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phonenumber != null" >
        #{phonenumber,jdbcType=VARCHAR},
      </if>
      <if test="wxchat != null" >
        #{wxchat,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="idnumber != null" >
        #{idnumber,jdbcType=VARCHAR},
      </if>
      <if test="bodysize != null" >
        #{bodysize,jdbcType=TINYINT},
      </if>
      <if test="raisecycle != null" >
        #{raisecycle,jdbcType=TINYINT},
      </if>
      <if test="raisenumber != null" >
        #{raisenumber,jdbcType=VARCHAR},
      </if>
      <if test="enable != null" >
        #{enable,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.diamondboss.util.pojo.ParterInfoPojo" >
    update parter_info
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phonenumber != null" >
        phoneNumber = #{phonenumber,jdbcType=VARCHAR},
      </if>
      <if test="wxchat != null" >
        wxchat = #{wxchat,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="idnumber != null" >
        IDNumber = #{idnumber,jdbcType=VARCHAR},
      </if>
      <if test="bodysize != null" >
        bodySize = #{bodysize,jdbcType=TINYINT},
      </if>
      <if test="raisecycle != null" >
        raiseCycle = #{raisecycle,jdbcType=TINYINT},
      </if>
      <if test="raisenumber != null" >
        raiseNumber = #{raisenumber,jdbcType=VARCHAR},
      </if>
      <if test="enable != null" >
        enable = #{enable,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.diamondboss.util.pojo.ParterInfoPojo" >
    update parter_info
    set name = #{name,jdbcType=VARCHAR},
      phoneNumber = #{phonenumber,jdbcType=VARCHAR},
      wxchat = #{wxchat,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      IDNumber = #{idnumber,jdbcType=VARCHAR},
      bodySize = #{bodysize,jdbcType=TINYINT},
      raiseCycle = #{raisecycle,jdbcType=TINYINT},
      raiseNumber = #{raisenumber,jdbcType=VARCHAR},
      enable = #{enable,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>