<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.diamondboss.user.repository.PetInfoMapper" >
 
 	<!-- 根据用户id查询宠物信息  -->
	<select id="queryPetInfoByUserId"
		parameterType="java.lang.String"
		resultType="com.diamondboss.user.pojo.PetInfoPojo">
		SELECT
		    id AS id,
		    user_id AS userId,
		    name AS name,
		    age AS age,
		    sex AS sex,
		    varieties AS varieties
		FROM
		    pet_info
		WHERE
		    user_id = #{userId}
		    effective = '1'
	</select>
 
 	<!-- 插入宠物信息  -->
 	<insert id="insertPetInfo"
 		parameterType="com.diamondboss.user.pojo.PetInfoPojo">
 		INSERT
		INTO
		    pet_info
		    (
		        user_id,
		        effective
		    )
		    VALUES
		    (
		      	#{userId},
		    	'1'
		    )
 	</insert>	
 
 	<!-- 更新宠物信息 -->
 	<update id="updatePetInfo">
 		UPDATE
		    pet_info
		SET
		    name = #{name},
		    age = #{age},
		    sex = #{sex},
		    varieties = #{varieties}
		WHERE
		    id = #{id}
		    AND effective = '1'
 	</update>
 	
</mapper>