<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.diamondboss.order.repository.SubmitOrderMapper" >

	<!-- 根据宠物编号查询预约日期  -->
	<select id="queryOrderByUser"
		parameterType="java.util.Map"
		resultType="java.lang.String">
		SELECT
		    order_time
		FROM
		    parter_order
		WHERE
		    pet_id = #{petId}
		    AND order_time &gt;= #{today}
		    AND effective = '1'
	</select>

</mapper>