<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.diamondboss.order.repository.UserOrderServiceMapper" >

	 <resultMap id="BaseResultMap" type="com.diamondboss.util.vo.UserOrderServiceVo" >
	    <id column="user_id" property="userId" jdbcType="VARCHAR" />
	    <result column="name" property="userName" jdbcType="VARCHAR" />
	    <result column="phone_number" property="phoneNum" jdbcType="VARCHAR" />
	    <result column="partner_id" property="partnerId" jdbcType="VARCHAR" />
	    <result column="receive_time" property="receiveTime" jdbcType="VARCHAR" />
	    <result column="return_time" property="returnTime" jdbcType="VARCHAR" />
 	 </resultMap>
 	
 	<!-- 查询合伙人首页订单信息 -->
	<select id="queryUserOrderService"
		parameterType="java.util.Map"
		resultMap="BaseResultMap" >
		SELECT
		    B.user_id AS userId,
		    B.name AS userName,
		    B.phone_number AS phoneNum,
		    A.partner_id AS partnerId,
		    A.receive_time AS receiveTime,
		    A.return_time AS returnTime,
		    A.dogFood AS dogFood,
		    (
				SELECT count(*)
				FROM ${tableName} A
				WHERE A.user_id = #{userId}
				AND A.order_date = #{orderDate}
				AND A.effective = '1'
			) AS orderCount
		FROM
		     ${tableName} A INNER JOIN user_info B ON A.user_id = B.user_id
		WHERE
			A.user_id = #{userId}
			AND A.order_date = #{orderDate}
			AND A.partner_id is not null
			AND A.effective = '1'
	</select>
	
	
	<!-- 查询合伙人首页订单信息 -->
	<select id="queryPartnerOrderService"
		parameterType="java.util.Map"
		resultType="com.diamondboss.util.vo.PartnerOrderServiceVo" >
			SELECT
			    B.parter_id AS partnerId,
			    B.name AS partnerName,
			    B.phone_number AS phoneNum,
				(
					SELECT COUNT(*)
					FROM ${tableName} A
					WHERE A.partner_id = #{partnerId}
					AND A.effective = '1'
				) AS orderCount
			FROM
			    partner_info B 
			WHERE
				B.parter_id = #{partnerId}
				AND B.effective = '1'
	</select>
	
	
	<!-- 查询用户的当日合伙人下的宠物订单 -->
	<select id="queryUserOrders"
		parameterType="java.util.Map"
		resultType="com.diamondboss.util.vo.UserOrdersServiceVo" >
		SELECT
		    A.pet_name AS pname,
		    A.sex AS sex
		FROM
		    ${tableName} A
		WHERE
			A.partner_id = #{partnerId}
			AND A.order_date = #{orderDate}
			AND A.effective = '1'
	</select>
  
  	<!-- 查询用户订单列表  -->
	<select id="queryUserOrderList"
		parameterType="java.util.Map"
		resultType="com.diamondboss.order.pojo.UserOrderListPojo">
		SELECT
		    id AS id,
		    receive_time AS receiveTime,
		    return_time AS returnTime,
		    pet_name AS petName,
		    sex AS sex,
		    age AS age,
		    varieties AS varieties,
		    partner_name AS partnerName,
		    remark AS remark,
		    order_date AS orderDate,
		    order_status AS orderStatus,
		    amt AS amt,
		    dogFood AS dogFood,
		    create_time AS createTime
		FROM
		    ${orderUser}
		WHERE
		    user_id = #{userId}
		    AND effective = '1'
		ORDER BY create_time DESC
	</select>
	  	
	  	<!-- 查询合伙人订单列表  -->
	<select id="queryPartnerOrderList"
		parameterType="java.util.Map"
		resultType="com.diamondboss.order.pojo.UserOrderListPojo">
		SELECT
		    id AS id,
		    receive_time AS receiveTime,
		    return_time AS returnTime,
		    pet_name AS petName,
		    sex AS sex,
		    age AS age,
		    varieties AS varieties,
		    partner_name AS partnerName,
		    remark AS remark,
		    order_date AS orderDate,
		    order_status AS orderStatus,
		    amt AS amt,
		    dogFood AS dogFood,
		    create_time AS createTime
		FROM
		    ${orderUser}
		WHERE
		    partner_id = #{partnerId}
		    AND effective = '1'
		ORDER BY create_time DESC
	</select> 	
	 
</mapper>